In [2]:
import numpy as np
import pandas as pd
from plotly.offline import download_plotlyjs, init_notebook_mode, plot, iplot
import plotly.graph_objs as go
import seaborn as sns
import datetime, pytz

init_notebook_mode(connected=True)
%matplotlib inline

In [3]:
#define a conversion function for the native timestamps in the csv file
def dateparse (time_in_secs):    
    return pytz.utc.localize(datetime.datetime.fromtimestamp(float(time_in_secs)))

In [21]:
data = pd.read_csv('./bitstampUSD_1-min_data_2012-01-01_to_2018-06-27.csv', parse_dates=[0], date_parser=dateparse)

In [22]:


# First thing is to fix the data for bars/candles where there are no trades. 
# Volume/trades are a single event so fill na's with zeroes for relevant fields...
data['Volume_(BTC)'].fillna(value=0, inplace=True)
data['Volume_(Currency)'].fillna(value=0, inplace=True)
data['Weighted_Price'].fillna(value=0, inplace=True)

# next we need to fix the OHLC (open high low close) data which is a continuous timeseries so
# lets fill forwards those values...
data['Open'].fillna(method='ffill', inplace=True)
data['High'].fillna(method='ffill', inplace=True)
data['Low'].fillna(method='ffill', inplace=True)
data['Close'].fillna(method='ffill', inplace=True)

data.tail()

,Timestamp,Open,High,Low,Close,Volume_(BTC),Volume_(Currency),Weighted_Price
3405852,2018-06-27 08:56:00+00:00,6061.61,6079.52,6060.99,6079.52,2.358001,14326.055851,6075.509043
3405853,2018-06-27 08:57:00+00:00,6078.44,6080.11,6067.64,6071.83,13.946659,84697.288617,6072.944713
3405854,2018-06-27 08:58:00+00:00,6079.15,6085.53,6070.10,6084.69,5.174984,31447.423127,6076.815504
3405855,2018-06-27 08:59:00+00:00,6082.21,6086.86,6068.00,6068.00,14.482301,88000.380333,6076.408637
3405856,2018-06-27 09:00:00+00:00,6073.99,6075.41,6064.56,6070.79,23.511004,142706.803850,6069.787707

In [23]:
# create valid date range
start = datetime.datetime(2016, 1, 1, 0, 0, 0, 0, pytz.UTC)
end = datetime.datetime(2016, 12, 31, 0, 0, 0, 0, pytz.UTC)

# find rows between start and end time and find the first row (00:00 monday morning)
weekly_rows = data[(data['Timestamp'] >= start) & (data['Timestamp'] <= end)].groupby([pd.Grouper(key='Timestamp', freq='M')]).first().reset_index()
weekly_rows.tail()

,Timestamp,Open,High,Low,Close,Volume_(BTC),Volume_(Currency),Weighted_Price
7,2016-08-31 00:00:00+00:00,632.81,632.81,632.81,632.81,0.086708,54.870000,632.810000
8,2016-09-30 00:00:00+00:00,570.58,570.58,569.51,569.51,21.674562,12357.699598,570.147599
9,2016-10-31 00:00:00+00:00,605.49,605.49,605.49,605.49,0.250000,151.372500,605.490000
10,2016-11-30 00:00:00+00:00,704.90,704.90,704.90,704.90,0.219900,155.007510,704.900000
11,2016-12-31 00:00:00+00:00,740.84,740.84,740.84,740.84,0.537221,397.995146,740.840000

In [24]:
# create valid date range
start = datetime.datetime(2017, 1, 1, 0, 0, 0, 0, pytz.UTC)
end = datetime.datetime(2017, 12, 31, 0, 0, 0, 0, pytz.UTC)

# find rows between start and end time and find the first row (00:00 monday morning)
rows2017 = data[(data['Timestamp'] >= start) & (data['Timestamp'] <= end)].groupby([pd.Grouper(key='Timestamp', freq='M')]).first().reset_index()
rows2017.tail()

,Timestamp,Open,High,Low,Close,Volume_(BTC),Volume_(Currency),Weighted_Price
7,2017-08-31 00:00:00+00:00,2734.93,2734.93,2733.00,2734.93,0.912591,2495.813073,2734.865896
8,2017-09-30 00:00:00+00:00,4706.23,4710.13,4701.31,4701.38,9.457900,44514.265610,4706.569530
9,2017-10-31 00:00:00+00:00,4295.69,4300.03,4295.69,4299.58,4.449121,19130.315330,4299.796886
10,2017-11-30 00:00:00+00:00,6358.60,6368.00,6358.60,6366.00,10.862132,69130.160530,6364.327099
11,2017-12-31 00:00:00+00:00,9453.43,9473.99,9450.02,9452.28,9.855826,93266.014326,9463.034025

In [25]:
# create valid date range
start = datetime.datetime(2015, 1, 1, 0, 0, 0, 0, pytz.UTC)
end = datetime.datetime(2015, 12, 31, 0, 0, 0, 0, pytz.UTC)

# find rows between start and end time and find the first row (00:00 monday morning)
rows2015 = data[(data['Timestamp'] >= start) & (data['Timestamp'] <= end)].groupby([pd.Grouper(key='Timestamp', freq='M')]).first().reset_index()
rows2015.tail()

,Timestamp,Open,High,Low,Close,Volume_(BTC),Volume_(Currency),Weighted_Price
7,2015-08-31 00:00:00+00:00,285.17,285.17,284.91,284.91,0.028230,8.048497,285.104408
8,2015-09-30 00:00:00+00:00,229.66,229.66,228.67,228.67,1.685762,386.321952,229.167503
9,2015-10-31 00:00:00+00:00,236.95,236.98,236.95,236.98,15.819586,3748.906943,236.978831
10,2015-11-30 00:00:00+00:00,324.26,324.28,324.26,324.28,3.365414,1091.328209,324.277525
11,2015-12-31 00:00:00+00:00,373.00,373.00,373.00,373.00,0.160300,59.791900,373.000000

In [26]:
# create valid date range
start = datetime.datetime(2018, 1, 1, 0, 0, 0, 0, pytz.UTC)
end = datetime.datetime(2018, 6, 27, 0, 0, 0, 0, pytz.UTC)

# find rows between start and end time and find the first row (00:00 monday morning)
rows2018 = data[(data['Timestamp'] >= start) & (data['Timestamp'] <= end)].groupby([pd.Grouper(key='Timestamp', freq='M')]).first().reset_index()
rows2018.tail()

,Timestamp,Open,High,Low,Close,Volume_(BTC),Volume_(Currency),Weighted_Price
1,2018-02-28 00:00:00+00:00,9895.33,9929.42,9895.01,9914.82,9.209239,91313.268488,9915.397969
2,2018-03-31 00:00:00+00:00,10514.99,10517.48,10507.26,10507.26,9.874311,103808.435640,10512.980405
3,2018-04-30 00:00:00+00:00,7068.99,7073.39,7050.94,7050.94,4.130040,29162.582583,7061.089896
4,2018-05-31 00:00:00+00:00,9269.99,9270.00,9256.99,9265.86,3.600555,33345.951687,9261.336440
5,2018-06-30 00:00:00+00:00,7555.61,7574.00,7549.59,7569.95,28.382369,214715.433230,7565.099139

In [27]:


# create time series plot of account value v. investment
trace2016 = go.Scatter(
    x = weekly_rows['Timestamp'],
    y = weekly_rows['Close'].astype(float),
    mode = 'lines',
    name = 'Bitcoin Price 2016'
)
trace2017 = go.Scatter(
    x = rows2017['Timestamp'],
    y = rows2017['Close'].astype(float),
    mode = 'lines',
    name = 'Bitcoin Price 2017'
)
trace2015 = go.Scatter(
    x = rows2015['Timestamp'],
    y = rows2015['Close'].astype(float),
    mode = 'lines',
    name = 'Bitcoin Price 2015'
)
trace2018 = go.Scatter(
    x = rows2018['Timestamp'],
    y = rows2018['Close'].astype(float),
    mode = 'lines',
    name = 'Bitcoin Price 2018'
)
plot_data = [trace2016]
plot_data2 = [trace2017]
plot_data3 = [trace2015]
plot_data4 = [trace2018]
iplot(plot_data3)
iplot(plot_data)
iplot(plot_data2)
iplot(plot_data4)